/* Ini CSS */

body {
    font-family: Arial, sans-serif;
    background-color: #d9beb0;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo Icon */
.logo-icon {
    /* Sumber gambar : https://logopond.com/logos/e7692fb17b1047b75583de12db0ce732.png */
    height: 40px;
    width: 40px;
    background-image: url(../assets/logo.png);
    background-size: 60px;
    background-position: center;
    border-radius: 50%;
}

/* Navigasi */
nav {
    display: flex;
}

nav>a {
    border: 1px solid;
    padding: 8px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    margin: 2px;
}

nav>a:hover {
    background-color: #dddee0;
}

/* Photo Banner */
.photo-banner {
    height: 350px;
    background-size: cover;
    background-position: center;
}

.photo-1 {
    background-image: url(../assets/banner01.jpg);
}

.photo-2 {
    background-image: url(../assets/banner02.jpg);
}

.photo-3 {
    background-image: url(../assets/banner03.jpg);
}

.article {
    height: 300px;
}

.photo-profile {
    background-image: url(..//assets/profil.jpg);
    height: 350px;
    background-size: cover;
    background-position: center;
}

.photo-portofolio {
    background-image: url(../assets/portofolio.jpg);
    height: 350px;
    background-size: cover;
    background-position: center;
}


/* Input Form */
.message-container {
    display: flex;
    height: 500px;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px;
}

/* Ouput Form */
.output-container {
    border: 1px solid #ccc;
    padding: 20px;
    width: 45%;
    margin: 10px;
    height: 300px;
}

footer>div {
    text-align: right;
    font-family: 'Courier New', Courier, inherit;
    font-size: small;
}

/* Pengaturan Responsif */
@media only screen and (max-width :600px) {
    .main-header {
        flex-direction: column;
    }

    .photo-banner,
    .photo-profile,
    .photo-portofolio {
        flex-direction: column;
        height: 200px;
        width: auto;
    }

    .message-container {
        flex-direction: column;
        height: 200px;
    }
}